@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: rgba(243, 224, 240, 0.664);
    --bg-2: #f6f6f6;
    --Inter: font-family: "Inter", sans-serif;
    --dark-blue: #0A3871;
    --bgbotton: #d8dfe8;
    --black: #000000;
    --newbg: rgb(224, 219, 169);
    --newcolor2: rgb(32, 34, 29);
}

body {
    background-color: var(--newbg);
    font-family: var(--Inter);
}

/* main */

.main {
    /* background-color: purple; */
    width: 80%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}

.left {
/* background-color: #0a711f; */
height: 85%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.texto {
    width: 80%;
    font-size: 32px;
    color: var(--dark-blue);
    font-family: var(--Inter);
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

.texto::placeholder {
    color: var(--dark-blue);
    font-family: var(--Inter);
    border: none;
}

/* .left__footer {
    background-color: darkorange ;
} */

.left__botones {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.btn-1, .btn-2, .btn-3{
    max-width: 328px;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;

}

.btn-1 {
    background-color: var(--dark-blue);
    color: var(--bg-2);
}
.btn-2 {
    background-color: var(--bgbotton);
    color: var(--dark-blue);
}

.btn-3 {
    width: 100%;
    background-color: var(--bgbotton);
    color: var(--dark-blue);
}



.right {
    background-color: var(--newcolor2);
    height: 92%; 
    height: 92%;
    border-radius: 32px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.muneco {
    width: 100%;
}

.titulo-mensaje {
    font-family: var(--Inter);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: var(--bg-2);
}

.parrafo-mensaje {
    font-size: 16px;
    font-family: var(--Inter);
    text-align: center;
    color: var(--bgbotton);
}

/* footer {
    background-color: yellow;
    height: 50px;
} */
@media (max-width: 800px) {
 .main {
    grid-template-columns: 1fr;
    width: auto;
    margin: auto 40px;
 }  
 .right {
    height: 100%;
 }

 .left__botones {
    justify-content: center;
 }
 .btn-1, .btn-2 {
    width: 45%;
 }
 .muneco {
    display: flex;
 }
}

@media (max-width: 500px) {

    .main {
        margin: auto 16px;
    }

    .btn-1, .btn-2 {
        max-width: 100%;
        width: 100%;

    }
}